doctype html
html
    head
        meta(name="viewport", content="initial-scale=1, width=device-width")
        title Nathan Yiangsupapaanontr
        link(rel="stylesheet", href="styles/index.css")
    body
        .container
            .top-line
            .name
                h1.first Nathan
                h1.last Yiangsupapaanontr
            .about
                p.
                    Currently studying for a Bachelor's Degree in Information Technology at KMITL,
                    I'm interested in website development and the likes. Arts is also another field that I'm lured in.
                a View my portfolio
                .social
                    img(src="img/icon-gh@1x.png")
                    img(src="img/icon-ig@1x.png")
                    img(src="img/icon-in@1x.png")
                    img(src="img/icon-md@1x.png")
                    img(src="img/icon-tw@1x.png")
            img.circles(src="img/circles@1x.jpg")
