doctype html
html
    head
        meta(name="viewport", content="initial-scale=1, width=device-width")
        title Nathan Yiangsupapaanontr
        link(rel="stylesheet", href="styles/index.css")
        script(src="//fast.fonts.net/jsapi/f9641bbd-f1d1-4cc8-9f26-0eac23af76ab.js" async)
    body
        .container
            .top-line
            .name
                h1.first Nathan
                h1.last Yiangsupapaanontr
            .about
                p.
                    Currently studying for a Bachelor's Degree in Information Technology at KMITL,
                    I'm interested in website development and the likes. Arts is also another field that I'm lured in.
                a(href="/work") View my portfolio
                .social
                    a(href="https://github.com/DobaKung")
                        img(src="img/icon-gh@1x.png")
                    a(href="https://instagram.com/zartre")
                        img(src="img/icon-ig@1x.png")
                    a(href="https://linked.com/in/zartre")
                        img(src="img/icon-in@1x.png")
                    a(href="https://blog.zartre.com")
                        img(src="img/icon-md@1x.png")
                    a(href="https://twitter.com/zartre")
                        img(src="img/icon-tw@1x.png")
            img.circles(src="img/circles@1x.jpg")
